{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container section events-page-section"> {# ADD THIS CLASS HERE #}
    <h1 class="section-title">Our Events</h1>


        <!-- Message for no dynamic events (will appear after Code Clash if 'events' is empty) -->
        {% if not events %}
        <div class="col-12 text-center mt-5">
            <div class="p-5 empty-events-message">
                <h3 class="text-white">More Events Coming Soon!</h3>
                <p class="text-secondary">Please check back regularly for updates on our exciting upcoming events.</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}